@import url("https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #c9ffc2;
  --secondary: #0f1210;
  --accent: #f396ff;
}

body {
  font-family: "Sawarabi Gothic", sans-serif;
  background-color: var(--secondary);
  padding: 0 10px 0 0;
  color: var(--primary);
}

.two-cols {
  @apply grid grid-cols-1 md:grid-cols-2 md:grid-rows-1;
}
